.background-blinker {
  /*background: linear-gradient(320deg, #E4903C,#F5D0A9,#FF8001,#68BDF5,#D64EC4,#AAB66B,#B44080,#569BC9,#CE5196,#6D91A9,#F5D0A9,#F5D0A9,#6D91A9,#569BC9);*/
  background: linear-gradient(320deg, #F7BC92,#ECC19B,#DEC8A3,#A6DEC5,#F7BC92,#8AE8D6,#ECC19B,#8AE8D6,#DEC8A3,#A6DEC5,#F7BC92,#F7BC92,#A6DEC5,#8AE8D6);
  background-size: 600% 800%;
  -webkit-animation: AnimationName 200s ease-in infinite;
  -moz-animation: AnimationName 200s ease-in infinite;
  animation: AnimationName 200s ease-in infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:79% 0%}
  50%{background-position:22% 100%}
  100%{background-position:79% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:79% 0%}
  50%{background-position:22% 100%}
  100%{background-position:79% 0%}
}
@keyframes AnimationName {
  0%{background-position:79% 0%}
  50%{background-position:22% 100%}
  100%{background-position:79% 0%}
}

.audio-main-container {
  float: left;
  margin: 4% 0% 6% 0%;
  width: 97.50%;
  height: 110px;
  border: black solid 4px;

  background: linear-gradient(320deg, #F7BC92,#ECC19B,#DEC8A3,#A6DEC5,#F7BC92,#8AE8D6,#ECC19B,#8AE8D6,#DEC8A3,#A6DEC5,#F7BC92,#F7BC92,#A6DEC5,#8AE8D6);
    background-size: 600% 800%;
    -webkit-animation: AnimationName 200s ease-in infinite;
    -moz-animation: AnimationName 200s ease-in infinite;
    animation: AnimationName 200s ease-in infinite;
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }



video[poster]{
  margin: 2% 0% 2% 0%;
  height: 122px;
  width: 100%;
}

video {
  /* object-fit: initial; */
  /*width: 322px;*/
  /*width: 100%;*/
  height: 110px;
  margin-top: 1%;
}

video::-webkit-media-controls {
    display:none !important;
}

/* audio popup */
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: grey;
  z-index: 1001;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=80);
}

.relative{
  position: relative;
}

.small-popup{
    /*border: 2px solid #000;;*/
    color: black;
    height: 25px;
    width: 47%;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    font-family: sans_regular !important;
    /*border-radius: 5px;*/
}

.crossVideo{
  width:10px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;

}
.download {
    margin-top: 8%;
}
.popup-first-content{
  top:90%;
  /*height: 60%;
  width: 87%;*/
  /*padding: 14px;
  */
  padding: 33px;
  padding-top: 20px;
}
.popup-first{
  display: none;
  position: absolute;
  top: 21%;
  height:49%;
  margin-right: 12%;

  /*width: 83.50%;*/
  border: 4px solid #000;
  /*background-color: red;*/
  z-index: 1002;
  overflow: auto;

    background: #646567;
    opacity: 0.97;
    background-size: 600% 800%;
    -webkit-animation: AnimationName 200s ease-in infinite;
    -moz-animation: AnimationName 200s ease-in infinite;
    animation: AnimationName 200s ease-in infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
}
.popup-second{
  display: none;
  position: absolute;
  top: 2.87%;
  left: 0%;
  width: 87.7%;
  height: 59%;
  padding: 16px;
  border: 4px solid #000;
  /*background-color: red;*/
  z-index: 1002;
  overflow: auto;

    background: linear-gradient(320deg, #F7BC92,#ECC19B,#DEC8A3,#A6DEC5,#F7BC92,#8AE8D6,#ECC19B,#8AE8D6,#DEC8A3,#A6DEC5,#F7BC92,#F7BC92,#A6DEC5,#8AE8D6);
    background-size: 600% 800%;
    -webkit-animation: AnimationName 200s ease-in infinite;
    -moz-animation: AnimationName 200s ease-in infinite;
    animation: AnimationName 200s ease-in infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
}

.white_content {
  display: none;
  position: absolute;
  top: 5%;
  left: 12%;
  width: 65%;
  /*height: 76%;*/
  padding: 16px;
  border: 4px solid #000;
  /*background-color: red;*/
  z-index: 1002;
  overflow: auto;

    background: linear-gradient(320deg, #F7BC92,#ECC19B,#DEC8A3,#A6DEC5,#F7BC92,#8AE8D6,#ECC19B,#8AE8D6,#DEC8A3,#A6DEC5,#F7BC92,#F7BC92,#A6DEC5,#8AE8D6);
    background-size: 600% 800%;
    -webkit-animation: AnimationName 200s ease-in infinite;
    -moz-animation: AnimationName 200s ease-in infinite;
    animation: AnimationName 200s ease-in infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
}

.audio-img {
  margin: 6.5% 0% 0% 38.5%;
  width: 23%;
}

body {
  float: left;
  /*width: 86%;*/
  /*margin-left: 7%;*/
  margin-left: 12%;
  margin-right: 12%;
  font-family: sans_regular !important;
  font-size: 15px;
}

@font-face {
  font-family: 'sans_regular';
  src: url('./fonts/SanFranciscoText-Regular.otf');
}

a {
  font-family: sans_regular !important;
  color:#ffd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 8px;
  background-size: 8px;
  background-image: url("double-greater-than.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 10px;
}

li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.player {
  margin: 40% 28%;
  width: 43%;
}

div.white_content img:nth-of-type(1) {
   width: 16px;
   height: 17px;
   float: right;
}​


#main > div{
  float:right;
}
#d1{
  float: left;
  padding-right: 8px;
}

#d2{
  float: right;
  padding-right: 15px;
}
