
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: clear;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-family: 'Bureau_Grotesk';
  color: black;
  font-size: 60px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 10px;
  color: black;
  content: ">\a";
  white-space: pre;
  font-family: 'Bureau_Grotesk';
  font-size: 60px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  font-family: 'Bureau_Grotesk';
  font-size: 60px;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: none;
}

.imgIcon {
    height: 70%;
    margin: 5% 0% 0% 0%;
    vertical-align: middle;
}

#grad1 {
    height: 20%;
    width: 80%;

    border: 8px solid black;
    font-size: 30px;
    background: #FFFFFF;
    /*background: linear-gradient(320deg, #F7BC92,#ECC19B,#DEC8A3,#A6DEC5,#F7BC92,#8AE8D6,#ECC19B,#8AE8D6,#DEC8A3,#A6DEC5,#F7BC92,#F7BC92, #65C9DE,#8AE8D6);*/
    background-size: 600% 400%;
    -webkit-animation: AnimationName 20s ease-in infinite;
    -webkit-animation: AnimationName 40s ease-in infinite;
    animation: AnimationName 20s ease-in infinite;
}

#grad2 {
    height: 20%;
     width: 80%;
  
    align: center;
    border: 8px solid black;
    font-size: 30px;
    background: #FFFFFF;
    /*background: linear-gradient(315deg,#ABCDF0,#D4B4CB, #A6DEC5,  #9ECDE1, #59C1DB,#AFB6D2,#D4B6CE,#ADBCD9,#DA9FB2,#DA9FB3,#E18EA0,#A6C7E6,#B1B5D2,#D2BCD3,#D4B4CB,#E18EA0,    #B1B1CD, #A8C5E3);*/
    background-size: 600% 400%;
    -webkit-animation: AnimationName 40s ease-in infinite;
    -webkit-animation: AnimationName 40s ease-in infinite;
    animation: AnimationName 40s ease-in infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:50% 100%}
    100%{background-position: 100% 0%}
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:50% 100%}
    100%{background-position: 100% 0%}
}

@-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
}
}
