
/*.swiper-container {
    width: 100vw;
    height: 380px;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

.html-text-container {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.swiper-wrapper {
    float: left;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-button-next {
    background-image: url("next.png") !important;
    background-size: 40px 45px !important;
}

.swiper-button-prev {
    background-image: url("previous.png") !important;
    background-size: 40px 45px !important;
}

.videoPlayer {
    width:100%;
}*/

/*UI for iPad 768 X 1024
@media only screen and (min-device-width : 1500px) and (max-device-width : 1504px)
{ 
    .swiper-container {
    height: 360px;
}
}*/
