/**/
/*@font-face*/
/*{*/
/*    font-family: "CharlotteSansW02-Book";*/
/*    src: local("CharlotteSansW02-Book"),url("Charlotte Sans Book.otf") format("opentype");*/
/*}*/
/**/
/*@font-face {*/
/*    font-family: 'gro';*/
/*    src: local('FONT_FAMILY'),url('../css/Fonts/grotesk/sfb-one-five-opentype.otf') format('opentype');*/
/*}*/

/**/
/*@font-face*/
/*{*/
/*    font-family: 'FontFamily';*/
/*    src: local('FontFamily'),url("../css/Fonts/grotesk/sfb-one-five-opentype") format('opentype');*/
/*}*/

/*@font-face {*/
/*    */
/*    */
/*    font-family: 'sansBuro';*/
/*    */
/*    */
/*/*    src: url('../css/Fonts/Bureau_Grotesk_FB_One Five_Regular.otf');*/*/
/**/
/*    src: url("../css/Fonts/grotesk/sfb-one-five-opentype");*/
/*    font-style: bold;*/
/*    */
/*    */
/*}*/
/**/
/**/
/*@font-face {*/
/**/
/*    font-family: 'sansRoboto';*/
/*    src: url('../css/Fonts/MuseoSansRounded-300.ttf') format('tff') ;*/
/**/
/*}*/
/**/
/*@font-face {*/
/*    */
/*    */
/*    font-family: 'MuseoSansItalic';*/
/*    */
/*    */
/*    src: url('../css/fonts/MuseoSans-300Italic.ttf') format('tff') ;*/
/**/
/*}*/


/*@font-face*/
/*{*/
/*    font-family: 'MonotypeSabonW04-Regular';*/
/*    src: local('MonotypeSabonW04-Regular'),url('Monotype Sabon Regular.otf') format('opentype');*/
/*}*/
/*@font-face*/
/*{*/
/*    font-family: 'MonotypeSabonW04-Italic';*/
/*    src: local('MonotypeSabonW04-Italic'),url('Monotype Sabon Italic.otf') format('opentype');*/
/*}*/
/**/
/*@font-face*/
/*{*/
/*    font-family: 'CharlotteSansW02-Book';*/
/*    src: local('CharlotteSansW02-Book'),url('Charlotte Sans Book.otf') format('opentype');*/
/*}*/
/**/
/**/
/**/
/*body {background-color:rgb(170,170,170);}*/
/**/
/*body {*/
/*    font-family:'CharlotteSansW02-Book';*/
/*     padding : 10% 10% 10% 10%*/
/*    font-size: 48;*/
/*    text-align:middle;*/
/*    line-height:140%;*/
/*    word-wrap:break-word;*/
/*    -webkit-user-select: none;*/
/*}*/
/**/
/**/
/*p {*/
/*     padding : 10% 10% 10% 10%*/
/*   */
/*}*/
/*  p.boldtext {*/
/*    font-family:'CharlotteSansW02-Book';*/
/*    text-align:middle;*/
/*     padding : 10% 10% 10% 10%*/
/*    font-size: 45;*/
/*    */
/*    line-height:140%;*/
/*    word-wrap:break-word;*/
/*    -webkit-user-select: none;*/
/*}*/
/**/
/**/
/**/
/*  ul {*/
/*    font-family: 'CharlotteSansW02-Book';*/
/*     padding : 10% 10% 10% 10%*/
/*    font-size:  45;*/
/*    text-align:left;*/
/*    line-height:140%;*/
/*    word-wrap:break-word;*/
/*    -webkit-user-select: none;*/
/*}*/
/**/
/*h1 {*/
/*    font-family:"gro";*/
/*     padding : 10% 10% 10% 10%*/
/*    font-size:118;*/
/*  */
/*    display:inline;*/
/*}*/
/*    a {*/
/*       font-family:"gro";*/
/*         font-size: 36;*/
/*         color:#00fff9;*/
/*    text-decoration:underline;*/
/*}*/
/**/
/*i {*/
/*    font-family:"MuseoSansItalic";*/
/**/
/*}*/
/**/
/*b {*/
/*    font-family:"sansBuro";*/
/**/
/*}*/
/**/
/*ib {*/
/*    font-family:"MuseoSansItalic";*/
/**/
/*}*/
/**/
/*button {*/
/*    font-family:"sansBuro";*/
/*    */
/*    font-size:19;*/
/*    line-height:150%;*/
/*    background-color:#ffffff;*/
/*    border:1px solid #555555;*/
/*    color:#555555;*/
/*    text-align:center;*/
/*}*/
/**/
/*.quote {*/
/*    font-family:"MuseoSansItalic";*/
/*  */
/*    font-size:15;*/
/*    text-align:center;*/
/*}*/
/**/
/*.reflect {*/
/*    font-family:"MuseoSansItalic";*/
/*    font-style:"300 Italic";*/
/*    font-size:14;*/
/*}*/
/**/
/*.lead_text {*/
/*    font-family:"MuseoSansItalic";*/
/* */
/*}*/
/**/
/*.acr_char {*/
/*    font-size:22;*/
/*    font-family:"Museo Sans Rounded";*/
/*    font-style:"700";*/
/*}*/
/**/
/*.acr_text {*/
/*    font-size:16;*/
/*    font-family:"Museo Sans Rounded";*/
/*    font-style:"700";*/
/*}*/
/**/
/*.super {*/
/*    font-size:12;*/
/*    vertical-align:super;*/
/*}*/
/**/
/*.subheading {*/
/*    font-family:"Museo Sans Rounded";*/
/*    font-style:"700";*/
/*}*/
/**/
/*.reference {*/
/*    font-size:13;*/
/*}*/
/**/
/*.copyright {*/
/*    font-size:12;*/
/*    text-align:center;*/
/*}*/
/**/
/*.highlight {*/
/*    background-color:yellow;*/
/*}*/
/*.text {*/
/*    color: #f2f2f2;*/
/*    font-size: 15px;*/
/*    padding: 8px 12px;*/
/*    position: absolute;*/
/*    bottom: 8px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    }*/


@font-face
{
    font-family: 'MonotypeSabonW04-Regular';
    src: local('MonotypeSabonW04-Regular'),url('Monotype Sabon Regular.otf') format('opentype');
}
@font-face
{
    font-family: 'Menlo';
    src: url('Menlo-Italic.otf') format('opentype');
}

@font-face
{
    font-family: 'Museo Sans';
   src :url('MuseoSans-300Italic.ttf') format('truetype');
}


@font-face
{
    font-family: 'Robotoregular';
    src: local('Roboto-Regular'),url('roboto-regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    src: local('Roboto-Bold'),url('roboto-bold.ttf') format('truetype');
}

body {
    font-family: 'Robotoregular';
    
    color: black;
    font-size: 45px;
    text-align: middle;
    line-height: 140%;
    word-wrap: break-word;
    -webkit-user-select: none;
}

strong {
    font-family: 'Roboto';
    text-align: middle;

    font-size: 45px;
    line-height: 140%;
    word-wrap: break-word;
    -webkit-user-select: none;
}

p {
    margin: 5% 7% 5% 9%;
    text-align: middle;
    font-size: 45px;
}

ul {
    font-family: 'Robotoregular';
    margin: 5% 7% 5% 9%;
    font-size: 45px;
    text-align: left;
    line-height: 140%;
    word-wrap: break-word;
    -webkit-user-select: none;
}

h1 {
    font-family: "gro";
    margin: 5% 7% 5% 7%;
    font-size: 118;
    
    display: inline;
}

a {
    font-family: "Museo Sans";
    font-size: 50px;
    color:  #080A0C;
    text-decoration: underline;
}

i {
    font-family: "MuseoSansItalic";
}

b {
    font-family: "sansBuro";
}

ib {
    font-family: "MuseoSansItalic";
}

button {
    font-family: "sansBuro";

    line-height: 150%;
    border: 1px solid #555555;
    text-align: center;
}

.quote {
    font-family: "MuseoSansItalic";
    
    font-size: 45px;
    text-align: center;
}

.reflect {
    font-family: "MuseoSansItalic";
    font-style: "300 Italic";
    font-size: 14;
}

.lead_text {
    font-family: "MuseoSansItalic";
}

.acr_char {
    font-size: 22;
    font-family: "Museo Sans Rounded";
    font-style: "700";
}

.acr_text {
    font-size: 16;
    font-family: "Museo Sans Rounded";
    font-style: "700";
}

.super {
    font-size: 12;
    vertical-align: super;
}

.subheading {
    font-family: "Museo Sans Rounded";
    font-style: "700";
}

.reference {
    font-size: 13px;
}

.copyright {
    font-size: 12;
    text-align: center;
}

.highlight {
    background-color: yellow;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
