@font-face {
	font-family: 'Roboto-Regular';
	src: url('Fonts/Roboto-Regular.ttf');
	src: local('☺'), url('Fonts/Roboto-Regular.ttf') format('ttf'), url('Fonts/Roboto-Regular.ttf') format('truetype'), url('Fonts/Roboto-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}


a {color:#7EC349;}

body {
    font-family: 'Roboto-Regular';
    font-size: 75px;
    text-align: justify;
    line-height:7.5;	
}

* {
   -webkit-user-select: none;
}
